@import "../../__variables.scss";
@import"../../__helpers.scss";

.navbar {
  height: $navbar-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: $background-orange;
  @media (max-width: $mobile) {
    padding: 0 10px;
    height: $navbar-height-mobile;
  }
  @media (max-width: $pc) {
    width: 100%;
  }

  .navbar__navMobile {
    display: none;
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $background-orange;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 150px;
      padding: 20px;
      transform: translateY(-100%);
    }
  }
  
  .navbar__navMobile--active {
    transition: transform $transition;
    transform: translateY(0);
    @extend %flex-column-start;
    

    a {
      color: $color-lightgrey;
      text-decoration: none;
      font-weight: 500;
      margin-right: 40px;
      @media (max-width: $mobile) {
        margin-right: 10px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
  
  img {
    display: none;
    @media (max-width: $mobile) {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  h2 {
    margin-right: 80px;
    transform: translateY(-5px);
    @media (max-width: $mobile) {
      margin-right: 20px;
      margin-top: 10px;
    }
    a {
      font-family: $font-script;
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      color: $color-primary;
      text-align: left;
      @media (max-width: $mobile) {
        font-size: 1.5rem;
      }
    }
  }

  nav {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    @media (max-width: $mobile) {
      display: none;
    }

    a {
      color: $color-lightgrey;
      text-decoration: none;
      font-weight: 500;
      margin-right: 40px;
      @media (max-width: $mobile) {
        margin-right: 20px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
  .navbar__profile {
    a {
      color: $color-lightgrey;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $color-primary;
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
